<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://r3-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f0c83419-3662-420e-a342-834f1ab88103/resourceGroups/R3group/providers/Microsoft.Web/sites/R3-api</ResourceId>
    <UserName>$R3-api</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://r3-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>